[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
scikit-learn = "*"
plotly = "*"
pickle-mixin = "*"
seaborn = "*"

[requires]
python_version = "3.8"
